<div class="container-fluid">
  <div class="row">
    <div id="contact" class="col-md-12" style="padding: 80px 0; background: lightgray;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 contact-form">

            <form class="form">
              <div class="row">
                  <div class="col-md-6">
                      <label>Nome</label>
                      <div class="input-group">
                          <span class="input-group-addon">
                              <i class="nc-icon nc-single-02"></i>
                          </span>
                          <input [(ngModel)]="contact_form.name" name="name" type="text" class="form-control" placeholder="Nome">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <label>Assunto</label>
                      <div class="input-group">
                          <span class="input-group-addon">
                              <i class="nc-icon nc-tag-content"></i>
                          </span>
                          <input [(ngModel)]="contact_form.subject" name="subject" type="text" class="form-control" placeholder="Assunto">
                      </div>
                  </div>
                  <div class="col-md-12">
                      <label>Email</label>
                      <div class="input-group">
                          <span class="input-group-addon">
                              <i class="nc-icon nc-email-85"></i>
                          </span>
                          <input [(ngModel)]="contact_form.email" name="email" type="text" class="form-control" placeholder="Email">
                      </div>
                  </div>
              </div>
              <label>Menssagem</label>
              <textarea [(ngModel)]="contact_form.message" name="message" class="form-control" style="resize: none;" rows="4" placeholder="Digite sua mensagem ou dúvida"></textarea>
              <div class="row">
                  <div class="col-md-12 text-center">

                      <button (click)="sendMail()" *ngIf="status_email.pre_send" class="btn btn-danger btn-round">Enviar</button>
                      <button *ngIf="status_email.sending" class="btn btn-danger disabled btn-round">Enviando...</button>
                      <button (click)="sendMail()" *ngIf="status_email.error_send" class="btn animated shake btn-danger btn-round">Enviar</button>
                      <button *ngIf="status_email.send" class="btn btn-success disabled btn-round">Enviado</button>

                  </div>
              </div>
          </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>