<div id="header">
  <div id="background-header">
    <div id="cover">
      <div class="container-row">
        <div class="row-25"></div>
        <div class="row-50">
          <div class="text-center title">
            <h1 id="title">
              CONSTRUIMOS EXPERIÊNCIAS.
            </h1>
          </div>
          <div class="text-center">
            <a class="btn btn-to">ENTRE EM CONTATO</a>
          </div>
        </div>
        <div class="row-25">

        </div>
      </div>
    </div>
  </div>
</div>